{
  //"presets": ["es2015"],
  "presets": ["babel-preset-env"],
  "plugins":["transform-object-rest-spread","syntax-dynamic-import"],
  //"plugins": ["syntax-dynamic-import"]
   
  
}


///,"env", { "modules": false }